h1 {
  text-align: center;
  margin-top: 400px;
  font-size: 80px;
  padding-bottom: 30px;
}

#nazad {
  display: block;
  width: 100%;
  background: #5ecccd;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: bold;
}

#nazad:hover {
  background: #035052;
}
