#upload {
  border: thick double #32a1ce;
  padding: 20px 40px;
  margin-top: 40px;
}

#headline {
  color: black;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  padding-top: 20%;
}

.button {
  border-radius: 10px;
  background-color: #32a1ce;
  color: black;
}

.button:hover {
  background-color: #219f94;
  border-radius: 0px;
}
