<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/dodajRadnika.css" />
    <title>Dodaj Radnika</title>
  </head>
  <body>
    <h1>Dodaj Radnika</h1>
    <form action="/submit_noviRadnik" method="post">
      {% if message %}
      <p class="message">{{ message | safe }}</p>
      {% endif %}
      <h3>- Id</h3>
      <input type="number" name="id" placeholder="Upišite Id Radnika." />
      <h3>- Ime</h3>
      <input type="text" name="firstName" placeholder="Upišite Ime." />
      <h3>- Prezime</h3>
      <input type="text" name="lastName" placeholder="Upišite Prezime" />
      <h3>- Satnica</h3>
      <input
        type="number"
        step="0.01"
        name="Satnica"
        placeholder="Upišite trenutnu Satnicu"
      />
      <br />
      <br />
      <br />
      <input type="submit" value="Pošalji" class="btn" />
    </form>
  </body>
</html>
