<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/error.css" />
    <title>Error</title>
  </head>
  <body>
    <h1 class="message">{{ message | safe }}</h1>
    <form style="text-align: center" action="/home">
      <button id="nazad">Kliknite ovdje za povratak</button>
    </form>
  </body>
</html>
