<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/dodajRadnika.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/excel.css">
        <title>ExcelFile | EMERUS</title>
  </head>
  <body>
         <div class="header"></div>
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
          <ul class="sidebarMenuInner">
          <li>EMERUS <span>Payroll System</span></li>
          <li><form style="text-align: left" action="/home">
            <button id="home">Početna stranica</button>
          </form></li>
          <li><form style="text-align: left" action="/sviRadnici">
            <button id="sviRadnici">Svi Radnici</button>
          </form></li><li>
           <form style="text-align: left" action="/dodajRadnika">
            <button id="dodajRadnika">Dodaj Radnika</button></form></li>
            <li><form  style="text-align: left" action="/povijestPrimanja">  <button id="povijestPrimanja">Povijest Primanja</button></form></li>
            <li><form  style="text-align: left" action="/kalkulator">  <button id="home">Kalkulator Plate</button></form></li>
            <li><form  style="text-align: left" action="/excelFile"> <button id="home">ExcelFile</button></form></li>
          <li><form style="text-align: left" action="/">
            <button id="odjava">Odjava</button></form></form></li>
        </ul>
        </div>
        
        <div class="Row">
          {% if message %}
          <h1 class="message">{{ message | safe }}</h1>
          {% endif %}
           <div class="Column">
        {% for id in dataId %}
              <h3>{{id}}</h3>
              <hr>
      {% endfor %}
      </div>
          <div class="Column">
        {% for ime in dataIme %}
    
              <h3>{{ime}}</h3>
              <hr>
      {% endfor %}
      </div>
      <div class="Column">
        {% for prezime in dataPrezime %}
      
              <h3>{{prezime}}</h3>
              <hr>
      {% endfor %}
      </div class="Column">
            <div>
       {% for placa in dataPlaca %}
              <h3>{{placa}} KM</h3>
              <hr>
      {% endfor %}
      </div>
      </div>
  </body>
</html>
