<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Početna stranica</title>
  </head>
 
  <div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
     <ul class="sidebarMenuInner">
      <li>EMERUS <span>Payroll System</span></li>
      <li><form style="text-align: left" action="/home">
        <button id="home">Početna stranica</button>
      </form></li>
      <li><form style="text-align: left" action="/sviRadnici">
        <button id="sviRadnici">Svi Radnici</button>
      </form></li><li>
       <form style="text-align: left" action="/dodajRadnika">
        <button id="dodajRadnika">Dodaj Radnika</button></form></li>
        <li><form  style="text-align: left" action="/povijestPrimanja">  <button id="povijestPrimanja">Povijest Primanja</button></form></li>
      <li><form style="text-align: left" action="/">
        <button id="/">Odjava</button></form></form></li>
      
    </ul>
  </div>
  <div id='center' class="main center">
    <div class="mainInner1">
      <img src="../image.jpg" alt="Paris" class="center">
    </div>
  <div id='center' class="main center">
    <div class="mainInner">
      <div>Dobrodošli na Emerus Payroll System!</div>
    </div>
 
  </div>