<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/editUser.css" />
    <link rel="stylesheet" href="../static/povijestDizanje.css" />
    <style>
        h3 {
            text-align: center;
            margin-top: 50px;
        }
        
        hr {
            width: 40%;
        }
    </style>
    <title>Povijest Dizanje Place</title>
</head>

<body>
    <h1>Povijest rast satnice od {{data[1]}} {{data[2]}}</h1>
    <h3>Posljednje povećanje plaće po satu: {{data[3]}} KM na {{data[4]}}</h3>
    <hr />

    <form class="form-nazad" action="/povijestPrimanja">
        <button class="button-nazad">Nazad</button>
    </form>
</body>

</html>