<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/sviRadnici.css" />

    <title>Svi djelatnici</title>
  </head>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="../static/dodajRadnika.css" />
      <title>Dodaj Radnika</title>
      <style>
        h1 {
          text-align: center;
        }
        </style>
    </head>
    <body>
      <html>
        <div class="header"></div>
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
          <ul class="sidebarMenuInner">
            <li>EMERUS <span>Payroll System</span></li>
            <li><a href="dodajRadnika.html" target="_blank">Početna stranica</a></li>
            <li><a href="sviRadnici.html" target="_blank">Svi djelatnici</a></li>
            <li><a href="dodajRadnika.html" target="_blank">Dodaj djelatnika</a></li>
            <li><a href="Login.html" target="_blank">Odjava</a></li>
            
          </ul>
        </div>
<br>
<br>
<br>
  <div class="table-wrapper">
    
        <table class="fl-table">
          <thead style="text-align: center">
            <tr>
              <th>ID</th>
              <th>Ime</th>
              <th>Prezime</th>
              <th>Satnica</th>
              <th>Odjel</th>
              <th>Opis</th>
              
              
            </tr>
          </thead>
          <div>
      {% for row in data %}
      <div>
          <tbody>
            <tr>
              <td>{{row[0]}}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td>{{ row[5] }}</td>
              
              

              
            </tr>
          </tbody>
      {% endfor %}

          <tbody></tbody>
        </table>
    
  </div>
  <script language="javascript">
setTimeout(function(){
   window.location.reload(1);
}, 60000);
</script>
<script>const spans = document.querySelectorAll('.word span');

spans.forEach((span, idx) => {
  span.addEventListener('click', (e) => {
    e.target.classList.add('active');
  });
  span.addEventListener('animationend', (e) => {
    e.target.classList.remove('active');
  });
  
  // Initial animation
  setTimeout(() => {
    span.classList.add('active');
  }, 750 * (idx+1))
});</script>
</html>
